body {
  align-items: start;
  justify-content: start;
}

main {
  text-align: start;
}

ol {
  margin-top: .4em;
  list-style: none;
}

li {
  width: 100%;
  background-color: lightgreen;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 4px;
  padding: .4em .8em;
  align-self: center;
  margin-bottom: .4em;
}

p {
  max-width: 250px;
  min-width: 250px;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

div {
  text-align: center;
}